*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-aspect-ratio: 7/10){
    .Joinpage{
        display: flex;
        align-items: flex-start !important;
        justify-content: center;
    }
    .JoinContainer{
        margin-top: 30vw !important;
       width: 100%;
       border: 20x solid white;
    }
   .JoinContainer > img{
        width:30vw !important;
    }
    .JoinContainer > h1{
        font-size: 6vw !important;
        font-family: "Roboto";
        width: 55vw !important;
        border-bottom: 0.6vw solid white !important;
        text-align: center;
        margin-bottom: 2vmax;
        padding: 3vw !important;
    }
    #Joininput{
        width: 65vw !important;
        padding: 4vw !important;
        
        font-size: 5vw !important;
        margin: 5vw !important;
    }
    .Joinbtn{
    
        width: 65vw !important;
        padding: 4vw !important;
        
        font-size: 1.2vmax;
        
    }
    .chatContainer{ 
        background-color: white;
        width: 100% !important;
        height: 100% !important; 
    }
    .header{
        height: 10% !important;
    }
    .header > h2{
        margin: 8vw !important;
        font-size: 5vw !important;
    }
    .header  img{
        margin: 6vw !important;
        transform: scale(2) !important;
    }
    .header > img:hover{
        transform: scale(3.2) !important;
    }

    .chatbox{
        height: 80% !important;
    }
    .inputbox{
        height: 10% !important;  
    }

    #chatinput{
        padding: 4vw !important;
        
        font-size: 4vw !important;
    }
    
    .messagebox{
        
        padding: 3vw !important;
        margin: 3vw !important;
        font-size: 3.7vw !important;
        border-radius: 1.5vw !important;
    }
    
}